
<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">


                <div class="grid__column-10">
                    <div class="article">
                        <h1><%= News.Title %></h1>
                        <div class="subheading">A lunar return, a Jupiter moon mission, the most powerful rocket ever built, and the James Webb Space Telescope –
                            an astronomer explains what space missions to follow this year.
                        </div>

                        <div class="byline">
                            By
                            <a href="#"><%= Account[0].Name %></a>
                            Published: Friday, February 25, 2022
                        </div>

                        <img src="<%= Pictures[0].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">2022 is set to be humanity’s busiest year in space.</div>
                        <div class="credit">CSA Images via Getty Images</div><br>
                        <p>Space travel is all about momentum.</p>
                        <p>Rockets turn their fuel into momentum that carries people, satellites and science itself forward into space. 2021 was a year full of records for space
                            programs around the world, and that momentum is carrying forward into 2022.</p>
                        <p>Last year, the commercial space race truly took off. Richard Branson and Amazon founder Jeff Bezos both rode on suborbital launches – and brought friends,
                            including actor William Shatner. SpaceX sent eight astronauts and 1 ton of supplies to the International Space Station for NASA. The six tourist spaceflights
                            in 2021 were a record. There were also a record 19 people weightless in space for a short time in December, eight of them private citizens. Finally, Mars was also busier than ever thanks to missions from the U.S., China and United Arab Emirates sending rovers, probes or orbiters to the red planet.</p>
                        <p>In total, in 2021 there were 134 launches that put humans or satellites into orbit – the highest number in the entire history of spaceflight.
                            Nearly 200 orbital launches are scheduled for 2022. If things go well, this will smash last year’s record.</p>
                        <p>I’m an astronomer who studies supermassive black holes and distant galaxies. I have also written a book about
                            humanity’s future in space. There’s a lot to look forward to in 2022. The Moon will get more attention than it has had in decades,
                            as will Jupiter. The largest rocket ever built will make its first flight. And of course, the James Webb Space Telescope will start sending back its first images.</p>
                        <p>I, for one, can’t wait.</p>

                        <img src="<%= Pictures[1].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">NASA is planning to build a base on the Moon, and many missions in pursuit of this goal are happening this year.</div>
                        <div class="credit">NASA Johnson Space Center via Flickr</div><br>

                        <h2>Everyone’s going to the Moon</h2>
                        <p>Getting a rocket into orbit around Earth is a technical achievement, but it’s only equivalent to a half a day’s drive
                            straight up. Fifty years after the last person stood on Earth’s closest neighbor, 2022 will see a crowded slate of lunar missions.</p>
                        <p>NASA will finally debut its much delayed Space Launch System. This rocket is taller than the Statue of Liberty and
                            produces more thrust than the mighty Saturn V. The Artemis I mission will head off this spring for a flyby of the Moon. It’s a proof of concept for a rocket system that will one day let people live and work off Earth. The immediate goal is to put astronauts back on the Moon by 2025.</p>
                        <p>NASA is also working to develop the infrastructure for a lunar base,
                            and it’s partnering with private companies on science missions to the Moon. A company called Astrobotic will carry 11 payloads to a large crater on the near side of the Moon, including two mini-rovers and a package of personal mementos gathered from the general public by a company based in Germany. The Astrobotic lander will also be carrying the cremated remains of science fiction legend Arthur C. Clarke – as with Shatner’s flight into space, it’s an example of science fiction turned into fact. Another company, Intuitive Machines, plans two trips to the Moon in 2022, carrying 10 payloads that include a lunar hopper and an ice mining experiment.</p>
                        <p>Russia is getting in on the lunar act, too. The Soviet Union accomplished many lunar firsts – first spacecraft
                            to hit the surface in 1959, first spacecraft to soft-land in 1966 and the first lunar rover in 1970 – but Russia hasn’t been back for over 45 years. In 2022, it plans to send the Luna 25 lander to the Moon’s south pole to drill for ice. Frozen water is an essential requirement for any Moon base.</p>
                        <iframe width="100%" height="500" src="https://www.youtube.com/embed/7CZTLogln34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <h2>All aboard the Starship</h2>
                        <p>While NASA’s Space Launch System will be a big step up for the agency, Elon Musk’s new rocket promises to be
                            the king of the skies in 2022.</p>
                        <p>The SpaceX Starship – the most powerful rocket ever launched – will get its first orbital
                            launch in 2022. It’s fully reusable, has more than twice the thrust of the Saturn V rocket and can carry 100 tons into orbit. The massive rocket is central to Musk’s aspirations to create a self-sustaining base on the Moon and, eventually, a city on Mars.</p>
                        <p>Part of what makes Starship so important is how cheap it will make bringing things into space.
                            If successful, the price of each flight will be US$2 million. By contrast, the price for NASA to launch the Space Launch System is likely to be over $2 billion. The reduction in costs by a factor of a thousand will be a game-changer for the economics of space travel.</p>

                        <img src="<%= Pictures[2].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">Jupiter’s moons, many of which are thought to have liquid water under their surfaces, are good places to look for life.</div>
                        <div class="credit">Lunar and Planetary Institute via Flickr</div><br>

                        <h2>Jupiter beckons</h2>
                        <p>The Moon and Mars aren’t the only celestial bodies getting attention next year.
                            After decades of neglect, Jupiter will finally get some love, too.</p>
                        <p>The European Space Agency’s Icy Moons Explorer is scheduled to head off to the gas giant midyear.
                            Once there, it will spend three years studying three of Jupiter’s moons – Ganymede, Europa and Callisto. These moons are all thought to have subsurface liquid water, making them potentially habitable environments.</p>
                        <p>Additionally, in September 2022, NASA’s Juno spacecraft – which has been orbiting Jupiter since 2016 – is
                            going to swoop within 220 miles of Europa, the closest-ever look at this fascinating moon. Its instruments will measure the thickness of the ice shell, which covers an ocean of liquid water.</p>

                        <img src="<%= Pictures[3].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">The James Webb Space Telescope is built to allow astronomers to study the earliest days of the universe. </div>
                        <div class="credit">NASA GSFC/CIL/Adriana Manrique Gutierrez via Flickr</div><br>

                        <h2>Seeing first light</h2>
                        <p>All this action in the Solar System is exciting, but 2022 will also see new information from the
                            edge of space and the dawn of time.</p>
                        <p>After successfully reaching its final destination, unfurling its sola
                            r panels and unfolding its mirrors in January, NASA’s James Webb Space Telescope will undergo
                            exhaustive testing and return its first data sometime midyear. The 21-foot (6.5-meter) telescope has seven times the collecting area of the Hubble Space Telescope. It also operates at longer wavelengths of light than Hubble, so it can see distant galaxies whose light has been redshifted – stretched to longer wavelengths – by the expansion of the universe.</p>
                        <p>By the end of the year, scientists should be getting results from a project aiming to map the earliest structures in the universe and see the dawn of galaxy formation.
                            The light these structures gave off was some of the very first light in history and was emitted when the universe was only 5% of its current age.</p>
                        <p>When astronomers look out in space they look back in time. First light marks the limit of what humanity
                            can see of the universe. Prepare to be a time traveler in 2022.</p>




                    </div>
                    </div>
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            PHOTOS
                        </h3>
                        <a href="/photos" >
                        <img src="../images/photos/photos7.jfif"/>
                        <img src="../images/photos/photos8.jfif"/>
                        <img src="../images/photos/photos9.jfif"/>
                        <img src="../images/photos/photos10.jfif"/>
                        <img src="../images/photos/constellation2.jfif"/>
                        <img src="../images/photos/constellation3.png"/>
                        </a>
                    </nav>
                </div>
                    <!--                    Comment-->


                        <div class="grid__column-10">
                            <div class="box" id="comment">Comment</div>
<!--                        <div class="d-flex justify-content-left row">-->
                                <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= Account[1].Name %></span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text"><%= Comments.Content %></p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <div class="bg-light p-2">
                                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40"><textarea id="textarecomment" class="form-control ml-1 shadow-none textarea"></textarea></div>
                                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!--                    end comment-->


<!--                </div>-->
            </div>
        </div>
    </div>
</div>