
<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">


                <div class="grid__column-10">
                    <div class="article">
                        <h1><%= News.Title %></h1>
                        <div class="subheading">These dying stars are going out in style, showing off rich greens,
                            blues, and reds you can enjoy through your eyepiece.
                        </div>

                        <div class="byline">
                            By
                            <a href="#"><%= Account[3].Name %></a>
                            Published: Tuesday, March 8, 2022
                        </div>

                        <img src="<%= Pictures[12].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">The compact Lion Nebula (NGC 2392) is surrounded by a fluffy ring of gas akin to the mane framing a big cat’s face.</div>
                        <div class="credit">Douglas J. Struble</div>
                        <br>

                        <p>
                            For new observers, the night sky appears to be a monochrome scene of black and white. Although astronomy books and websites
                            are replete with objects revealing vivid reds, pinks, blues, and greens, gazing at most of these same
                            objects with a small telescope shows none of that. Light from the deep sky appears mostly as shades of gray.
                        </p>
                        <p>But those of us with more experience know the universe is a colorful place. It’s just that color in the universe
                            requires intensity — enough photons to stimulate the cones in your eyes. These color receptors are an evolutionary response to humans spending most of our lives in daylight: When light is plentiful, its subtle differences in wavelength convey useful information, which we perceive as color. By contrast, while the eye’s
                            rods are highly sensitive to light to help us see clearly in nocturnal environments, they don’t register color.</p>
                        <p>In the case of the Sun, its many photons at every wavelength saturate all our color receptors at once, making
                            it appear white. And the Moon consists of dark basalts and gray dust and rock fragments — no color there unless there is an eclipse or its light is reddened by Earth’s atmosphere as it rises or sets. But looking elsewhere in the solar system, Mars, Uranus, and Neptune show us disks that are intensely red, green, and blue,
                            respectively. And their shape and bright color are duplicated by one group of deep-sky objects: planetary nebulae.</p>

                        <h2>Colorful targets</h2>

                        <p>Planetary nebulae are the product of Sun-like stars shedding and then lighting up their
                            outer layers late in life. Their blues, greens, and reds come from glowing gases such as hydrogen, helium, nitrogen, and oxygen.</p>
                        <p>Long before this was known, two 18th-century astronomers, Antoine Darquier de Pellepoix and William Herschel,
                        both considered the shape of these nebulae planetlike. Herschel is widely credited with first calling them planetary nebulae,
                            although there is no definitive answer as to whether the term truly originated with him.</p>
                        <p>Despite the name, only about 20 percent of planetary nebulae are spherical. The rest occur in a variety of shapes, resulting
                        from the particular way each central dying star sloughs off its outer layers. Their density ranges from 100 to 10,000 times that
                        of empty interstellar space. The more colorful nebulae, which appear on this list, tend to have higher densities and appear round or
                            oval in a telescope. That’s because denser regions of gas glow more intensely.</p>

                        <img src="<%= Pictures[13].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">NGC 40 is a small but bright planetary nebula in Cepheus the King. Its glow is distinctly red — odd for this type of object. It sits in front of an unrelated supernova remnant, CTA 1.</div>
                        <div class="credit">Douglas J. Struble</div><br>

                        <h2>Observing tips</h2>
                        <p>The invention of the Oxygen-III (OIII) filter revolutionized observing planetary nebulae because the filter’s peak
                            transparency is the same wavelength as these objects’ strongest emission. However, although a filter dramatically improves image contrast, it also blocks out natural color. To see their true color, it’s best to observe planetaries without a filter. The full intensity of the unfiltered target will stimulate your cones, giving these compact nebulae color and even making them bright enough to spot from suburban skies. By contrast, faint and extended nebulae usually don’t show color, and the special filters are designed for observing when the goal is simply finding the object, not revealing its color.
                            One common thread between the colorful planetaries on our list is their distance. Most are located between 1,000 and 5,000
                            light-years away. At these distances, they range from 15" to 40" in diameter — except for the Ring Nebula (M57), which is much larger. Bright planetaries can show color in telescopes as small as 6 inches. Larger apertures are better and all bear magnification well. A lot of planetaries have tenuous outer shells from previous eruptions, but these are too faint for most amateur telescopes. However, many on our list do reveal their central star — the white-hot engine lighting up these glowing balls from within.</p>

                        <h2>The list</h2>

                        <p>NGC 40 is the first target — and the most challenging. Located in the circumpolar northern skies at 72° declination
                        in Cepheus, it’s magnitude 10.4 and 35" across. It sits about 3,500 light-years distant. Some 1,000 light-years behind it
                            is the unrelated, tenuous supernova remnant CTA 1.</p>
                        <p>With moderate telescopes, this nebula resembles a partial ring that looks more like a parenthesis. It is also called
                        the Bow Tie Nebula. The magnitude 11.4 progenitor star in the center is a rare Wolf-Rayet star — a type of star deficient
                        in hydrogen and producing strong stellar winds. With a full magnitude of difference between the star and its nebula, some
                        observers consider this one of the best targets in which to observe the progenitor. In large apertures (20 inches or more),
                        NGC 40 shows a reddish hue, which is atypical for planetaries as normally, ionized oxygen and nitrogen give these objects green
                        or blue colors.</p>
                        <p>NGC 2392 was once known as the Eskimo Nebula because it has a round interior surrounded by a ring of “fluffy” gas reminiscent of
                        a head ensconced within a parka hood. However, after considering the term’s derogatory history, NASA decided in 2020 to refer to the
                        object only by its catalog name. It’s recently also been described as the Lion Nebula, comparing the exterior gas to a lion’s mane.
                        Sources disagree on its exact distance: This dying star is located somewhere between 3,000 and 6,000 light-years away.</p>
                        <p>At magnitude 10.1, it’s the brightest nebula in Gemini and an easy target with small telescopes. Seeing its bluish-green color
                        requires more aperture rather than darker skies. Can you see it in an 8-inch scope?</p>

                        <img src="<%= Pictures[14].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">Also called the Ghost of Jupiter, NGC 3242 appears to the eye as a compact blue-green ball roughly the same angular size as Jupiter. Higher magnification will show it is slightly oblate.</div>
                        <div class="credit">Adam Block/Mount Lemmon SkyCenter/University of Arizona</div><br>

                        <p>NGC 3242 is sometimes called the Ghost of Jupiter for its shape and apparent size, reminiscent of our
                        solar system’s fifth planet. It’s a colorful planetary tucked in Hydra, the largest constellation snaking its way through the
                        spring skies. This nebula is 2° south and slightly west of Mu (μ) Hydrae. Binoculars or a finder scope will show it as a magnitude
                        8.6 star, while a small telescope reveals its nonstellar appearance. Under higher magnification, you’ll see a slightly oblate disk 40"
                        by 35" across. The nebula fluoresces greenish blue with a 6-inch scope and becomes bluer with increasing aperture.</p>
                        <p>The Ghost of Jupiter lies at least 1,400 light-years away and is about 2 light-years in diameter. The structure is a thin
                        ring surrounded by a larger, tenuous envelope visible with larger telescopes. The central star shines at magnitude 11.7 and is
                            visible in moderate apertures.</p>

                        <img src="<%= Pictures[15].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">One of just a few planetary nebulae in Charles Messier’s catalog, the Ring Nebula (M57) looks just as its name indicates: a ring-shaped cloud in space, glowing green. </div>
                        <div class="credit">Mark Hanson</div><br>

                        <p>The Ring Nebula (M57) in Lyra glows at magnitude 8.8 and has an extended halo nearly 4' across. It was the first planetary nebula I ever observed. I was about 10 years old at the time, and my interest in stargazing was limited to locating Echo satellites. The telescope I used was a homemade 21-inch reflector owned by the Louisville Astronomical Society. Through it, M57 left an indelible memory because of its bright green color.
                            A decade later, that telescope, which included glass cast from the same formula as the 200-inch Hale telescope, was donated to the University of Louisville. When I observed M57 with that same telescope again at Moore Observatory, the green color was more muted. I’ve never seen it as bright green as in my childhood observation. It makes me wonder whether children see colors more intensely than adults. Or am I just remembering that vivid vista with green-tinted glasses?
                        </p>

                        <img src="<%= Pictures[16].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">One of just a few planetary nebulae in Charles Messier’s catalog, the Ring Nebula (M57) looks just as its name indicates: a ring-shaped cloud in space, glowing green. </div>
                        <div class="credit">Mark Hanson</div><br>

                        <p>NGC 6210 is the brightest planetary in Hercules and lies roughly 5,400 light-years away. Its location in our sky puts it more than 3,000 light-years above the Milky Way’s disk, away from the bulk of its kin. It is a compact 20" by 16" and magnitude 9.7. Its blue-green color is apparent in modest telescopes. Like most small planetaries,
                            it bears magnification well, although spotting the magnitude 12.7 central star embedded within the bright nebula is a challenge.</p>

                        <img src="<%= Pictures[17].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">One of just a few planetary nebulae in Charles Messier’s catalog, the Ring Nebula (M57) looks just as its name indicates: a ring-shaped cloud in space, glowing green. </div>
                        <div class="credit">Mark Hanson</div><br>

                        <p>The Cat’s Eye Nebula (NGC 6543) in Draco is a compact 18" in diameter and shines at magnitude 8.8. I personally call this the Atom Nebula because it has two intersecting ellipses that remind me of electron orbits around the central star as the atom’s nucleus. Its blue-green glow elongates in a north-south direction and is visible in a modest telescope. Even more detail within the nebula becomes available with increasing aperture. The central star is some 10 times hotter
                            than the Sun and some observers claim it is easier to see with lower magnification. This dying star lies about 3,300 light-years away.</p>

                        <img src="<%= Pictures[18].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">One of just a few planetary nebulae in Charles Messier’s catalog, the Ring Nebula (M57) looks just as its name indicates: a ring-shaped cloud in space, glowing green. </div>
                        <div class="credit">Mark Hanson</div><br>

                        <p>The famous Blinking Planetary Nebula (NGC 6826) in Cygnus offers a unique experience. The name comes from the odd optical effect you get when switching between normal and averted vision. When observing this object, I noted that while its green color was visible in the telescope, the central star appeared white when viewed straight-on. With averted vision, the nebula seemed to vanish — and the green color collapsed into the bright central star, giving it an intense verdant glow. A green star? That’s what I saw! Try it
                            The Blinking Planetary is a compact 27" by 24" and magnitude 9.8. The central star is about 0.5 magnitude fainter. It lies about 2,200 light-years distant.</p>

                        <img src="<%= Pictures[19].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">One of just a few planetary nebulae in Charles Messier’s catalog, the Ring Nebula (M57) looks just as its name indicates: a ring-shaped cloud in space, glowing green. </div>
                        <div class="credit">Mark Hanson</div><br>

                        <p>NGC 7027 in Cygnus is a young nebula, both compact and dense at its distance of 3,000 light-years. Its 10th-magnitude, intense green glow is visible in small telescopes, but larger scopes show its 15"-wide boxy shape better. The central star is
                            deeply embedded in the gas cloud and beyond viewing for the most part. This is a great object to observe with your high-power eyepieces.</p>


                    </div>
                    </div>
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            PHOTOS
                        </h3>
                        <a href="/photos" >
                        <img src="../images/photos/photos7.jfif"/>
                        <img src="../images/photos/photos8.jfif"/>
                        <img src="../images/photos/photos9.jfif"/>
                        <img src="../images/photos/photos10.jfif"/>
                        <img src="../images/photos/constellation2.jfif"/>
                        <img src="../images/photos/constellation3.png"/>
                        </a>
                    </nav>
                </div>
                    <!--                    Comment-->


                        <div class="grid__column-10">
                            <div class="box" id="comment">Comment</div>
<!--                        <div class="d-flex justify-content-left row">-->
                                <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= Account[1].Name %></span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text"><%= Comments.Content %></p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <div class="bg-light p-2">
                                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40"><textarea id="textarecomment" class="form-control ml-1 shadow-none textarea"></textarea></div>
                                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!--                    end comment-->


<!--                </div>-->
            </div>
        </div>
    </div>
</div>