
<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">


                <div class="grid__column-10">
                    <div class="article">
                        <h1><%= News.Title %></h1>
                        <div class="subheading">
                            Mercury and Saturn come close, while a dark Moon period lets you hunt down sporadic meteors from February 25 to March 4.
                        </div>

                        <div class="byline">
                            By
                            <a href="#"><%= Account[2].Name %></a>
                            Published: Friday, February 25, 2022
                        </div>

                        <img src="<%= Pictures[7].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">A crescent Moon shares the sky with Mars and Venus in February 2015.</div>
                        <div class="credit">Jeff Sullivan (Flickr)</div>
                        <br>

                        <h2>Friday, February 25</h2>
                        <p>Tonight, we look to Cassiopeia the Queen after sunset to catch a glimpse of the open star cluster M103. Discovered not by Messier but by his colleague Pierre Méchain, this young cluster of stars glows softly at magnitude 7.4
                            and spans about 6' from its position roughly 1° northeast of Ruchbah (Delta [δ] Cassiopeiae).</p>
                        <p>Although too faint to see unaided, M103 is easy to observe with binoculars or any small scope. Many skygazers think it resembles a small fan or arrowhead of stars, tipped with the triple star Struve 131. This system is not, however, associated with the cluster, and merely lies in the same field. And if you’re an astrophotographer,
                            this is definitely a target not to be missed: In photos, the cluster’s single red giant star suddenly pops out to shows its colors.</p>
                        <ul>
                            <li><b>Sunrise:</b> 6:39 A.M.</li>
                            <li><b>Sunset:</b> 5:48 P.M.</li>
                            <li><b>Moonrise:</b> 2:56 A.M.</li>
                            <li><b>Moonset:</b> 12:03 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (30%)</li>
                        </ul>

                        <img src="<%= Pictures[8].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">Ceres threads between the Pleiades and Hyades this month, heading steadily to the northeast each night.</div>
                        <div class="credit">Astronomy: Roen Kelly</div>
                        <br>

                        <h2>Saturday, February 26</h2>
                        <p>The Moon reaches perigee — the closest point to Earth in its orbit — at 5:25 P.M. EST. Our satellite will then
                            sit 228,533 miles (367,788 kilometers) away.</p>
                        <p>Today, let’s turn our gaze toward Taurus the Bull, already high in the southwest after sunset.
                            It should be easy to find the Pleiades (M45), a sparking, small dipper-shaped cluster of stars in the northwestern portion of the constellation. Dwarf planet 1 Ceres, the ruler of the asteroid belt, sits about 4.8° southeast of the Pleiades tonight, traveling northeast as the hours tick by. Today through the 28th, see if you can record the small world’s motion by comparing its position with nearby 37 Tau, which shines at magnitude 4.3 (compared with Ceres’ magnitude 8.5 glow). You should be able to spot movement after just two hours or so, but the more time you let elapse between subsequent observations, the more you’ll notice this distant world’s movement relative to the background stars.</p>
                        <ul>
                            <li><b>Sunrise:</b> 6:37 A.M.</li>
                            <li><b>Sunset:</b> 5:49 P.M.</li>
                            <li><b>Moonrise:</b> 4:02 A.M.</li>
                            <li><b>Moonset:</b> 1:06 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (20%)</li>
                        </ul>


                        <img src="<%= Pictures[9].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">By the end of February, the Moon has joined the long lineup of planets stretching across the ecliptic. Although not visible, Jupiter lies on the same line, close to the Sun.
                        </div>
                        <div class="credit">Astronomy: Roen Kelly</div>
                        <br>

                        <h2>Sunday, February 27</h2>
                        <p>If you can bring yourself to get up early on a weekend, the planets will richly reward you
                            with a wonderful lineup that includes the crescent Moon this morning.</p>
                        <p>The Moon passes 9° south of Venus at 1 A.M. EST, although both are below the horizon at that time. Our satellite then passes 4° south of Mars at 4 A.M. EST — still invisible to our eyes. But by 5:30 A.M. EST on the East Coast, it’s a different story: Venus, Mars, and the Moon have all cleared the horizon,
                            standing in a line in eastern Sagittarius. Give it another hour in the Midwest, and you’ll see the same sight.</p>
                        <p>Regardless of your location, by 30 minutes before sunrise, two more planets have joined the scene.
                            Starting at the top, Venus sits nearly 20° high and shines at magnitude –4.8. Through a telescope, it is 37 percent lit. Below Venus is Mars, just over 13° high and a dimmer magnitude 1.3. The Red Planet now sits a little less than 5° northwest of the 26-day-old Moon, which is just 13 percent illuminated and 9° above the horizon.</p>
                        <p>Look to the lower left (east) of the Moon, and much closer to the horizon are Mercury — 4° high and magnitude 0 — and Saturn — just 2.5° high and magnitude 0.7. You might need binoculars or a telescope to spot the ringed planet in the growing twilight, but take care to stop scanning the horizon with any kind of
                            optical aid several minutes before the Sun rises to avoid accidental damage to your eyes.</p>

                        <ul>
                            <li><b>Sunrise:</b> 6:36 A.M.</li>
                            <li><b>Sunset:</b> 5:50 P.M.</li>
                            <li><b>Moonrise:</b> 4:58 A.M.</li>
                            <li><b>Moonset:</b> 2:16 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (12%)</li>
                        </ul>

                        <h2>Monday, February 28</h2>
                        <p>If you can bring yourself to get up early on a weekend, the planets will richly reward you
                            with a wonderful lineup that includes the crescent Moon this morning.</p>
                        <p>The Moon passes 9° south of Venus at 1 A.M. EST, although both are below the horizon at that time. Our satellite then passes 4° south of Mars at 4 A.M. EST — still invisible to our eyes. But by 5:30 A.M. EST on the East Coast, it’s a different story: Venus, Mars, and the Moon have all cleared the horizon,
                            standing in a line in eastern Sagittarius. Give it another hour in the Midwest, and you’ll see the same sight.</p>
                        <p>Regardless of your location, by 30 minutes before sunrise, two more planets have joined the scene.
                            Starting at the top, Venus sits nearly 20° high and shines at magnitude –4.8. Through a telescope, it is 37 percent lit. Below Venus is Mars, just over 13° high and a dimmer magnitude 1.3. The Red Planet now sits a little less than 5° northwest of the 26-day-old Moon, which is just 13 percent illuminated and 9° above the horizon.</p>
                        <p>Look to the lower left (east) of the Moon, and much closer to the horizon are Mercury — 4° high and magnitude 0 — and Saturn — just 2.5° high and magnitude 0.7. You might need binoculars or a telescope to spot the ringed planet in the growing twilight, but take care to stop scanning the horizon with any kind of
                            optical aid several minutes before the Sun rises to avoid accidental damage to your eyes.</p>

                        <ul>
                            <li><b>Sunrise:</b> 6:36 A.M.</li>
                            <li><b>Sunset:</b> 5:50 P.M.</li>
                            <li><b>Moonrise:</b> 4:58 A.M.</li>
                            <li><b>Moonset:</b> 2:16 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (12%)</li>
                        </ul>

                        <h2>Tuesday, March 1</h2>
                        <p>If you can bring yourself to get up early on a weekend, the planets will richly reward you
                            with a wonderful lineup that includes the crescent Moon this morning.</p>
                        <p>The Moon passes 9° south of Venus at 1 A.M. EST, although both are below the horizon at that time. Our satellite then passes 4° south of Mars at 4 A.M. EST — still invisible to our eyes. But by 5:30 A.M. EST on the East Coast, it’s a different story: Venus, Mars, and the Moon have all cleared the horizon,
                            standing in a line in eastern Sagittarius. Give it another hour in the Midwest, and you’ll see the same sight.</p>
                        <p>Regardless of your location, by 30 minutes before sunrise, two more planets have joined the scene.
                            Starting at the top, Venus sits nearly 20° high and shines at magnitude –4.8. Through a telescope, it is 37 percent lit. Below Venus is Mars, just over 13° high and a dimmer magnitude 1.3. The Red Planet now sits a little less than 5° northwest of the 26-day-old Moon, which is just 13 percent illuminated and 9° above the horizon.</p>
                        <p>Look to the lower left (east) of the Moon, and much closer to the horizon are Mercury — 4° high and magnitude 0 — and Saturn — just 2.5° high and magnitude 0.7. You might need binoculars or a telescope to spot the ringed planet in the growing twilight, but take care to stop scanning the horizon with any kind of
                            optical aid several minutes before the Sun rises to avoid accidental damage to your eyes.</p>

                        <ul>
                            <li><b>Sunrise:</b> 6:36 A.M.</li>
                            <li><b>Sunset:</b> 5:50 P.M.</li>
                            <li><b>Moonrise:</b> 4:58 A.M.</li>
                            <li><b>Moonset:</b> 2:16 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (12%)</li>
                        </ul>

                        <img src="<%= Pictures[10].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">Mercury is visible early in the month. Catch it standing just 42" south of Saturn on the 2nd.
                        </div>
                        <div class="credit">Astronomy: Roen Kelly</div>
                        <br>

                        <h2>Wednesday, March 2</h2>
                        <p>If you can bring yourself to get up early on a weekend, the planets will richly reward you
                            with a wonderful lineup that includes the crescent Moon this morning.</p>
                        <p>The Moon passes 9° south of Venus at 1 A.M. EST, although both are below the horizon at that time. Our satellite then passes 4° south of Mars at 4 A.M. EST — still invisible to our eyes. But by 5:30 A.M. EST on the East Coast, it’s a different story: Venus, Mars, and the Moon have all cleared the horizon,
                            standing in a line in eastern Sagittarius. Give it another hour in the Midwest, and you’ll see the same sight.</p>
                        <p>Regardless of your location, by 30 minutes before sunrise, two more planets have joined the scene.
                            Starting at the top, Venus sits nearly 20° high and shines at magnitude –4.8. Through a telescope, it is 37 percent lit. Below Venus is Mars, just over 13° high and a dimmer magnitude 1.3. The Red Planet now sits a little less than 5° northwest of the 26-day-old Moon, which is just 13 percent illuminated and 9° above the horizon.</p>
                        <p>Look to the lower left (east) of the Moon, and much closer to the horizon are Mercury — 4° high and magnitude 0 — and Saturn — just 2.5° high and magnitude 0.7. You might need binoculars or a telescope to spot the ringed planet in the growing twilight, but take care to stop scanning the horizon with any kind of
                            optical aid several minutes before the Sun rises to avoid accidental damage to your eyes.</p>

                        <ul>
                            <li><b>Sunrise:</b> 6:36 A.M.</li>
                            <li><b>Sunset:</b> 5:50 P.M.</li>
                            <li><b>Moonrise:</b> 4:58 A.M.</li>
                            <li><b>Moonset:</b> 2:16 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (12%)</li>
                        </ul>

                        <h2>Thursday, March 3</h2>
                        <p>If you can bring yourself to get up early on a weekend, the planets will richly reward you
                            with a wonderful lineup that includes the crescent Moon this morning.</p>
                        <p>The Moon passes 9° south of Venus at 1 A.M. EST, although both are below the horizon at that time. Our satellite then passes 4° south of Mars at 4 A.M. EST — still invisible to our eyes. But by 5:30 A.M. EST on the East Coast, it’s a different story: Venus, Mars, and the Moon have all cleared the horizon,
                            standing in a line in eastern Sagittarius. Give it another hour in the Midwest, and you’ll see the same sight.</p>
                        <p>Regardless of your location, by 30 minutes before sunrise, two more planets have joined the scene.
                            Starting at the top, Venus sits nearly 20° high and shines at magnitude –4.8. Through a telescope, it is 37 percent lit. Below Venus is Mars, just over 13° high and a dimmer magnitude 1.3. The Red Planet now sits a little less than 5° northwest of the 26-day-old Moon, which is just 13 percent illuminated and 9° above the horizon.</p>
                        <p>Look to the lower left (east) of the Moon, and much closer to the horizon are Mercury — 4° high and magnitude 0 — and Saturn — just 2.5° high and magnitude 0.7. You might need binoculars or a telescope to spot the ringed planet in the growing twilight, but take care to stop scanning the horizon with any kind of
                            optical aid several minutes before the Sun rises to avoid accidental damage to your eyes.</p>

                        <ul>
                            <li><b>Sunrise:</b> 6:36 A.M.</li>
                            <li><b>Sunset:</b> 5:50 P.M.</li>
                            <li><b>Moonrise:</b> 4:58 A.M.</li>
                            <li><b>Moonset:</b> 2:16 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (12%)</li>
                        </ul>

                        <img src="<%= Pictures[11].Link %>" alt="spacemissions2022" width="100%" height="100%">
                        <div class="caption">Mercury is visible early in the month. Catch it standing just 42" south of Saturn on the 2nd.
                        </div>
                        <div class="credit">Astronomy: Roen Kelly</div>
                        <br>
                        <h2>Friday, March 4</h2>
                        <p>If you can bring yourself to get up early on a weekend, the planets will richly reward you
                            with a wonderful lineup that includes the crescent Moon this morning.</p>
                        <p>The Moon passes 9° south of Venus at 1 A.M. EST, although both are below the horizon at that time. Our satellite then passes 4° south of Mars at 4 A.M. EST — still invisible to our eyes. But by 5:30 A.M. EST on the East Coast, it’s a different story: Venus, Mars, and the Moon have all cleared the horizon,
                            standing in a line in eastern Sagittarius. Give it another hour in the Midwest, and you’ll see the same sight.</p>
                        <p>Regardless of your location, by 30 minutes before sunrise, two more planets have joined the scene.
                            Starting at the top, Venus sits nearly 20° high and shines at magnitude –4.8. Through a telescope, it is 37 percent lit. Below Venus is Mars, just over 13° high and a dimmer magnitude 1.3. The Red Planet now sits a little less than 5° northwest of the 26-day-old Moon, which is just 13 percent illuminated and 9° above the horizon.</p>
                        <p>Look to the lower left (east) of the Moon, and much closer to the horizon are Mercury — 4° high and magnitude 0 — and Saturn — just 2.5° high and magnitude 0.7. You might need binoculars or a telescope to spot the ringed planet in the growing twilight, but take care to stop scanning the horizon with any kind of
                            optical aid several minutes before the Sun rises to avoid accidental damage to your eyes.</p>

                        <ul>
                            <li><b>Sunrise:</b> 6:36 A.M.</li>
                            <li><b>Sunset:</b> 5:50 P.M.</li>
                            <li><b>Moonrise:</b> 4:58 A.M.</li>
                            <li><b>Moonset:</b> 2:16 P.M.</li>
                            <li><b>Moon Phase:</b> Waning crescent (12%)</li>
                        </ul>

                    </div>
                    </div>
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            PHOTOS
                        </h3>
                        <a href="/photos" >
                            <img src="../images/photos/photos7.jfif"/>
                            <img src="../images/photos/photos8.jfif"/>
                            <img src="../images/photos/photos9.jfif"/>
                            <img src="../images/photos/photos10.jfif"/>
                            <img src="../images/photos/constellation2.jfif"/>
                            <img src="../images/photos/constellation3.png"/>
                        </a>
                    </nav>
                </div>
                    <!--                    Comment-->


                        <div class="grid__column-10">
                            <div class="box" id="comment">Comment</div>
<!--                        <div class="d-flex justify-content-left row">-->
                                <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= Account[0].Name %></span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text"><%= Comments.Content %></p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <div class="bg-light p-2">
                                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40"><textarea id="textarecomment" class="form-control ml-1 shadow-none textarea"></textarea></div>
                                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!--                    end comment-->


<!--                </div>-->
            </div>
        </div>
    </div>
</div>