
<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">


                <div class="grid__column-10">
                    <div class="article">
                        <h1><%= News.Title %></h1>
                        <div class="subheading">A stunning shot from the Dark Energy Camera captures the Spanish Dancer Galaxy in vibrant hues.
                        </div>

                        <div class="byline">
                            By
                            <a href="#"><%= Account[6].Name %></a>
                            Published: Friday, March 4, 2022
                        </div>

                        <img src="<%= Pictures[23].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">The Large Magellanic Cloud — seen here hanging over the Atacama Desert — is unmissable in the southern sky.</div>
                        <div class="credit">G. Hüdepohl (atacamaphoto.com)/ESO</div>
                        <br>

                        <p>Centaurus A (NGC 5128) is a standout object for Southern Hemisphere observers. NGC 5128 is often called the Hamburger Galaxy because of the two regions of stars (the bun) that surround a dark dusty lane (the burger). And it’s a heck of a meal: A mere 12 million light-years away, Centaurus A has a diameter of about 60,000 light-years..</p>
                        <p>Scottish astronomer James Dunlop discovered NGC 5128 in 1826 using a 9-inch reflecting telescope in his observatory in Parramatta, New South Wales, Australia. Astronomers gave it the catalog name Centaurus A because it was the first radio source discovered in the constellation.</p>
                        <p>Both NGC 5128’s appearance and its radio emission have their roots in a galactic collision. The main body of Centaurus A — a giant elliptical galaxy — is absorbing a smaller spiral galaxy. The two objects collided more than 200 million years ago, creating large regions of star formation. This collision also probably aided the growth of the super- massive black hole in the center of the galaxy. Current estimates of its mass put it in the range of 55 million times that of the Sun.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri. Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>

                        <img src="<%= Pictures[24].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">The Large Magellanic Cloud is one of the Milky Way’s closest satellite galaxies.</div>
                        <div class="credit">Fernando Oliveira de Menezes</div>
                        <br>

                        <h2>Crank up the power</h2>
                        <p>Centaurus A (NGC 5128) is a standout object for Southern Hemisphere observers. NGC 5128 is
                            often called the Hamburger Galaxy because of the two regions of stars (the bun) that surround a dark dusty lane (the burger). And it’s a heck of a meal: A mere 12 million light-years away, Centaurus A has a diameter of about 60,000 light-years..</p>
                        <p>Scottish astronomer James Dunlop discovered NGC 5128 in 1826 using a 9-inch reflecting telescope
                            in his observatory in Parramatta, New South Wales, Australia. Astronomers gave it the catalog name Centaurus A because it was the first radio source discovered in the constellation.</p>
                        <p>Both NGC 5128’s appearance and its radio emission have their roots in a galactic collision.
                            The main body of Centaurus A — a giant elliptical galaxy — is absorbing a smaller spiral galaxy. The two objects collided more than 200 million years ago, creating large regions of star formation. This collision also probably aided the growth of the super- massive black hole in the center of the galaxy. Current estimates of its mass put it in the range of 55 million times that of the Sun.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>

                        <img src="<%= Pictures[25].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">NGC 1850 is a young super star cluster containing the mass of roughly 42,000 Suns</div>
                        <div class="credit">Steven Juchnowski</div>
                        <br>

                        <p>Centaurus A (NGC 5128) is a standout object for Southern Hemisphere observers. NGC 5128 is
                            often called the Hamburger Galaxy because of the two regions of stars (the bun) that surround a dark dusty lane (the burger). And it’s a heck of a meal: A mere 12 million light-years away, Centaurus A has a diameter of about 60,000 light-years..</p>
                        <p>Scottish astronomer James Dunlop discovered NGC 5128 in 1826 using a 9-inch reflecting telescope
                            in his observatory in Parramatta, New South Wales, Australia. Astronomers gave it the catalog name Centaurus A because it was the first radio source discovered in the constellation.</p>
                        <p>Both NGC 5128’s appearance and its radio emission have their roots in a galactic collision.
                            The main body of Centaurus A — a giant elliptical galaxy — is absorbing a smaller spiral galaxy. The two objects collided more than 200 million years ago, creating large regions of star formation. This collision also probably aided the growth of the super- massive black hole in the center of the galaxy. Current estimates of its mass put it in the range of 55 million times that of the Sun.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>

                        <img src="<%= Pictures[26].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">The massive Tarantula Nebula contains the most intense star formation in the entire Local Group</div>
                        <div class="credit">Fernando Oliveira de Menezes</div>
                        <br>
                        <p>Centaurus A (NGC 5128) is a standout object for Southern Hemisphere observers. NGC 5128 is
                            often called the Hamburger Galaxy because of the two regions of stars (the bun) that surround a dark dusty lane (the burger). And it’s a heck of a meal: A mere 12 million light-years away, Centaurus A has a diameter of about 60,000 light-years..</p>
                        <p>Scottish astronomer James Dunlop discovered NGC 5128 in 1826 using a 9-inch reflecting telescope
                            in his observatory in Parramatta, New South Wales, Australia. Astronomers gave it the catalog name Centaurus A because it was the first radio source discovered in the constellation.</p>
                        <p>Both NGC 5128’s appearance and its radio emission have their roots in a galactic collision.
                            The main body of Centaurus A — a giant elliptical galaxy — is absorbing a smaller spiral galaxy. The two objects collided more than 200 million years ago, creating large regions of star formation. This collision also probably aided the growth of the super- massive black hole in the center of the galaxy. Current estimates of its mass put it in the range of 55 million times that of the Sun.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>

                        <img src="<%= Pictures[27].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">The open cluster NGC 2100 lies on the outskirts of the Tarantula</div>
                        <div class="credit">Ray J. GaBany</div>
                        <br>

                        <h2>Observe at your own pace</h2>
                        <p>Both NGC 5128’s appearance and its radio emission have their roots in a galactic collision.
                            The main body of Centaurus A — a giant elliptical galaxy — is absorbing a smaller spiral galaxy. The two objects collided more than 200 million years ago, creating large regions of star formation. This collision also probably aided the growth of the super- massive black hole in the center of the galaxy. Current estimates of its mass put it in the range of 55 million times that of the Sun.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>
                        <p>To find NGC 5128, aim your telescope 4.5° due west of magnitude 3.5 Mu (μ) Centauri.
                            Through small scopes, the galaxy appears round with a wide dark lane cutting it in half. This lane gets wider on both ends. Through 14-inch or larger instruments, you should see a thin wedge of light shining through the lane’s western end.</p>


                    </div>
                    </div>
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            PHOTOS
                        </h3>
                        <a href="/photos" >
                        <img src="../images/photos/photos7.jfif"/>
                        <img src="../images/photos/photos8.jfif"/>
                        <img src="../images/photos/photos9.jfif"/>
                        <img src="../images/photos/photos10.jfif"/>
                        <img src="../images/photos/constellation2.jfif"/>
                        <img src="../images/photos/constellation3.png"/>
                        </a>
                    </nav>
                </div>
                    <!--                    Comment-->


                        <div class="grid__column-10">
                            <div class="box" id="comment">Comment</div>
<!--                        <div class="d-flex justify-content-left row">-->
                                <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= Account[1].Name %></span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text"><%= Comments.Content %></p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <div class="bg-light p-2">
                                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40"><textarea id="textarecomment" class="form-control ml-1 shadow-none textarea"></textarea></div>
                                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!--                    end comment-->


<!--                </div>-->
            </div>
        </div>
    </div>
</div>