
<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">


                <div class="grid__column-10">
                    <div class="article">
                        <h1><%= News.Title %></h1>
                        <div class="subheading">Not all galactic neighborhoods are under construction; some have gone quiet. A new paper sheds new light on the ongoing debate about the reasons why.
                        </div>

                        <div class="byline">
                            By
                            <a href="#"><%= Account[8].Name %></a>
                            Published: Thursday, March 3, 2022
                        </div>

                        <img src="<%= Pictures[28].Link %>" alt="" width="100%" height="100%">
                        <div class="caption">The picture...</div>
                        <div class="credit">Yoshihiro Miyagi/Shutterstock</div>
                        <br>

                        <p>Black holes are the closest things we have left to mythological monsters — the “Here be dragons” warning of our
                        cosmological maps. The supermassive black holes at the center of galaxies deserve particular notice. They are the
                            unbelievably massive anchors of the hundreds of billions of solar systems in our galaxy, as well as others.</p>

                        <p>But not all interstellar communities are growing. Some are "quenched" galaxies, where new star formation appears to have
                        ground to a halt. Why and how this happens has been frustrating astronomers and astrophysicists for 20 years. A recently
                        published study makes a strong case that the most important factor is at the very core of those galaxies, and the supernatural
                        strength of black holes: their mass.</p>

                        <p>Breaking up the chunks in interstellar soup
                        University of Cambridge astronomer Joanna Piotrowska, the study's lead author, explains that despite the complexity
                        of black holes, galaxies and astrophysics in general, there are only two basic ways a galaxy can be star-quenching: either
                        something is cutting off its supply of gas, or something is preventing that gas from accumulating.</p>


                        <p>There have been three prevailing theories as to how this happens. All have to do with mass. The first — supernovae explosions — relies
                        on the mass of the stars in the galaxy: supernovae explosions. Essentially, the theory says, exploding stars expel dust out of the galaxy
                        and make it unavailable for star formation. Still, it supernovae are the weakest of the three options, and they don’t have the strength
                        to throw cosmic dust completely out of reach.</p>

                        <p>The next is halo shock-heating. Essentially, as a black hole draws material towards itself, that material is being
                        forced through the halo of material already around it. This friction generates enormous amounts of energy, heating up the halo
                        and letting it stay buoyant. As the theory goes, the more material being pulled in — or the more accretion happening, in technical
                        terms — the more quenched a galaxy should be, which should increase the mass of the halo around the black hole.</p>

                        <p>The final theory is very simple. Once black holes are massive enough, they become what are called active galactic nuclei,
                        small regions at the center that emits massive amounts of energy, powerful enough to hurl jets of wind and dust around themselves.
                        Their gravity injects massive amounts of turbulence and heat into the surrounding gas, preventing the gas from condensing and collapsing
                        into stars. Just like a tetherball, hit with enough force, it will stay in the air, rather than falling back down against the pole. It's
                        this theory that Piotrowska and co-author Asa Bluck ascribe to in their research.</p>

                        <h2>A walk through a random forest</h2>

                        <p>To test that theory, the researchers combined cosmological observations from the Sloan Digital Sky Survey with
                        three cosmological simulations — EAGLE, Illustris and IllustrisTNG — that allowed them them to analyze a whopping 200,000 galaxies.
                        Looking at central galaxies (the ones at the heart of galactic superclusters), they employed a method of machine learning called
                            a "random forest" to analyze them.</p>

                        <p>In their analysis, the scientists fed the parameters of each of these three theories into an algorithm, then
                        asked the machine learning program to make use of those parameters and try to replicate their observed results.
                        Because the program is more simple, they were able to “figure out exactly what it’s doing, and why,” says Bluck.
                        The problem with more complex machine learning methods is that understanding how they find answers is very difficult.
                        “In terms of simplicity, you always want the simplest thing that solves the problem,” he says. “We didn’t want to hit
                        a nail with a nuclear bomb; we used a hammer.” The results were pleasantly clear, Piotroska says. “The end result
                        is [the theory of] black hole mass beats the other parameters by a long stretch.”</p>

                        <p>“According to my honest knowledge,” she adds, “this is the most obvious and methodologically strong demonstration
                        that supermassive black holes kill star formation in massive galaxies.”</p>

                        <p>Graduate student Alex Gurvich of Northwestern University, who specializes in using simulations to study the interactions
                        between stellar feedback and star formation and was not involved in this study, agrees. He says the research helps answer
                        a longstanding mystery in astronomy, where one of the leading theories has been that accretion by the black hole should be
                        the cause of quenching, and so the faster a black hole is accreting, the faster it should quench. But there
                        are “confusing observational results,” he says, “where star formation is off, but there’s no accretion.
                        And vice versa: star formation is happening, but so is accretion. Why isn’t it turned off yet?” The question hints
                        at the idea that total black hole mass, not accretion at any given moment in time, is more important in quenching star formation.
                        And this paper, he says, nailed that down, calling it “a step forward not just for the field but its methodology.”</p>

                        <p>For Bluck, the machine learning approach developed by Piotrowski helped the scientists avoid the trap of
                        mistaking correlation for causation. (In other words, they were able to definitively show a galaxy's massive size
                        can cause it to halt star formation.) “By combining these two things, we go beyond correlation [between supermassive
                        galaxies and star-quenching] and approach causation,” Bluck says. “And when you consider these are things sometimes
                            billions of light years away, feeling we can say something definitive about causation is awesome.”</p>
                        
                    </div>
                    </div>
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            PHOTOS
                        </h3>
                        <a href="/photos" >
                        <img src="../images/photos/photos7.jfif"/>
                        <img src="../images/photos/photos8.jfif"/>
                        <img src="../images/photos/photos9.jfif"/>
                        <img src="../images/photos/photos10.jfif"/>
                        <img src="../images/photos/constellation2.jfif"/>
                        <img src="../images/photos/constellation3.png"/>
                        </a>
                    </nav>
                </div>
                    <!--                    Comment-->


                        <div class="grid__column-10">
                            <div class="box" id="comment">Comment</div>
<!--                        <div class="d-flex justify-content-left row">-->
                                <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= Account[1].Name %></span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text"><%= Comments.Content %></p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <div class="bg-light p-2">
                                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://anhdep123.com/wp-content/uploads/2021/02/girl-xinh-avatar.jpg" width="40"><textarea id="textarecomment" class="form-control ml-1 shadow-none textarea"></textarea></div>
                                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button></div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!--                    end comment-->


<!--                </div>-->
            </div>
        </div>
    </div>
</div>